* {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

html, body, #root {
  height: 100%;
}

body {
  overflow-y: hidden;
  background: rgba(106, 190, 91, 0.335);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sprint_panel {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#sprint_list {
  list-style: none;
  margin-left: 16px;
  margin-right: 16px;
}

#sprint_list > li {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 24px;
}

.time-left {
  font-size: 2rem;
  height: 60px;
  line-height: 60px;
}

.project-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.sprint-info {
  display: flex;
  margin-right: 16px;
  flex-flow: column;
  justify-content: space-around;
  text-align: right;
}

.sprint-code-name {
  font-size: 1.1rem;
}

.red {
  color: red;
}